body>div{
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    padding: 10px;
}

form input, form textarea{
    font-size: 16px; /* Ajusta el tamaño del texto para los campos */
    width: 80%;
    padding: 10px;
    margin-bottom: 10px; /* Añadir espacio entre los campos */
}

button{
    font-size: 15px;
    margin: 20px;
    padding: 10px;
}

/* Estilo para el checkbox y el texto */
#autCheck{
    display: flex;
    align-items: center;
    font-size: 14px; /* Ajusta el tamaño del texto */
    margin-top: 10px; /* Espacio entre el textarea y el checkbox */
}

#autCheck input[type="checkbox"] {
    transform: scale(0.9);  /* Reduce el tamaño del checkbox */
    margin-right: 0px;  /* Espacio entre el checkbox y el texto */
}

/* Estilo para el textarea */
textarea {
    width: 100%;
    padding: 10px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    body>div{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }    
}

.boton-texto:hover{
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}
